<div>
    <h2>
        <span jhiTranslate="senseBrandApp.myFile.home.title">My Files</span>
        <button class="btn btn-primary float-right jh-create-entity create-my-file" [routerLink]="['/', { outlets: { popup: ['my-file-new'] } }]">
            <span class="fa fa-plus"></span>
            <span class="hidden-sm-down"  jhiTranslate="senseBrandApp.myFile.home.createLabel">
            Create new My File
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'senseBrandApp.myFile.home.search' | translate }}">
                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <span class="fa fa-search"></span>
                    </button>
                    <button class="input-group-append btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <span class="fa fa-trash-o"></span>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="myFiles">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="filename"><span jhiTranslate="senseBrandApp.myFile.filename">Filename</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="myFile"><span jhiTranslate="senseBrandApp.myFile.myFile">My File</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="imageExample"><span jhiTranslate="senseBrandApp.myFile.imageExample">Image Example</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="testExample"><span jhiTranslate="senseBrandApp.myFile.testExample">Test Example</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="textFile"><span jhiTranslate="senseBrandApp.myFile.textFile">Text File</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let myFile of myFiles ;trackBy: trackId">
                <td><a [routerLink]="['../my-file', myFile.id ]">{{myFile.id}}</a></td>
                <td>{{myFile.filename}}</td>
                <td>{{myFile.myFile}}</td>
                <td>
                    <a *ngIf="myFile.imageExample" (click)="openFile(myFile.imageExampleContentType, myFile.imageExample)">
                        <img [src]="'data:' + myFile.imageExampleContentType + ';base64,' + myFile.imageExample" style="max-height: 30px;" alt="myFile image"/>
                    </a>
                    <span *ngIf="myFile.imageExample">{{myFile.imageExampleContentType}}, {{byteSize(myFile.imageExample)}}</span>
                </td>
                <td>{{myFile.testExample}}</td>
                <td>{{myFile.textFile}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../my-file', myFile.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'my-file/'+ myFile.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'my-file/'+ myFile.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="myFiles && myFiles.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
