<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="mySolutionDetailAnalysisImgLabel" jhiTranslate="senseBrandApp.solutionDetailAnalysisImg.home.createOrEditLabel">Create or edit a Solution Detail Analysis Img</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!solutionDetailAnalysisImg.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="solutionDetailAnalysisImg.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="senseBrandApp.solutionDetailAnalysisImg.title" for="field_title">Title</label>
            <input type="text" class="form-control" name="title" id="field_title"
                [(ngModel)]="solutionDetailAnalysisImg.title" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="senseBrandApp.solutionDetailAnalysisImg.imgFil" for="field_imgFil">Img Fil</label>
            <div>
                <img [src]=" solutionDetailAnalysisImg.imgFilBase64Data ? 'data:' + solutionDetailAnalysisImg.imgFilContentType + ';base64,' + solutionDetailAnalysisImg.imgFilBase64Data : solutionDetailAnalysisImg.imgFilUrl" style="max-height: 100px;" *ngIf="solutionDetailAnalysisImg.imgFilBase64Data || solutionDetailAnalysisImg.imgFilUrl" alt="solutionDetailAnalysisImg image"/>
                <div *ngIf="solutionDetailAnalysisImg.imgFilBase64Data || solutionDetailAnalysisImg.imgFilUrl" class="form-text text-danger clearfix">
                    <span class="pull-left">{{solutionDetailAnalysisImg.imgFilContentType}} {{byteSize(solutionDetailAnalysisImg.imgFilBase64Data || solutionDetailAnalysisImg.imgFilUrl)}}</span>
                    <button type="button" (click)="clearInputImage( imgFilBase64Data ? 'imgFilBase64Data' : 'imgFilUrl', 'imgFilContentType', 'fileImage')" class="btn btn-secondary btn-xs pull-right">
                        <span class="fa fa-times"></span>
                    </button>
                </div>
                <input type="file" id="file_imgFilBase64Data" (change)="setFileData($event, solutionDetailAnalysisImg, 'imgFil', true)" accept="image/*" jhiTranslate="entity.action.addimage"/>
            </div>
            <input type="hidden" class="form-control" name="imgFil" id="field_imgFil"
                [(ngModel)]="solutionDetailAnalysisImg.imgFil" required/>
            <input type="hidden" class="form-control" name="imgFilContentType" id="field_imgFilContentType"
                [(ngModel)]="solutionDetailAnalysisImg.imgFilContentType" />
            <div [hidden]="!(editForm.controls.imgFil?.dirty && editForm.controls.imgFil?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.imgFil?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="senseBrandApp.solutionDetailAnalysisImg.introduction" for="field_introduction">Introduction</label>
            <textarea class="form-control" name="introduction" id="field_introduction"
                [(ngModel)]="solutionDetailAnalysisImg.introduction" ></textarea>
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="senseBrandApp.solutionDetailAnalysisImg.solutionDetailAnalysis" for="field_solutionDetailAnalysis">Solution Detail Analysis</label>
            <select class="form-control" id="field_solutionDetailAnalysis" name="solutionDetailAnalysis" [(ngModel)]="solutionDetailAnalysisImg.solutionDetailAnalysis" >
                <option [ngValue]="null"></option>
                <option [ngValue]="solutionDetailAnalysisOption.id === solutionDetailAnalysisImg.solutionDetailAnalysis?.id ? solutionDetailAnalysisImg.solutionDetailAnalysis : solutionDetailAnalysisOption" *ngFor="let solutionDetailAnalysisOption of solutiondetailanalyses; trackBy: trackSolutionDetailAnalysisById">{{solutionDetailAnalysisOption.title}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
