
<div *ngIf="designer">
    <h2><span jhiTranslate="senseBrandApp.designer.detail.title">Designer</span> {{designer.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="senseBrandApp.designer.name">Name</span></dt>
        <dd>
            <span>{{designer.name}}</span>
        </dd>
        <dt><span jhiTranslate="senseBrandApp.designer.englishName">English Name</span></dt>
        <dd>
            <span>{{designer.englishName}}</span>
        </dd>
        <dt><span jhiTranslate="senseBrandApp.designer.position">Position</span></dt>
        <dd>
            <span>{{designer.position}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'designer/'+ designer.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
