
<div *ngIf="designer">
    <h2><span jhiTranslate="senseBrandApp.designer.detail.title">Designer</span> {{designer.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="senseBrandApp.designer.znName">Zn Name</span></dt>
        <dd>
            <span>{{designer.znName}}</span>
        </dd>
        <dt><span jhiTranslate="senseBrandApp.designer.enName">En Name</span></dt>
        <dd>
            <span>{{designer.enName}}</span>
        </dd>
        <dt><span jhiTranslate="senseBrandApp.designer.profileBackFile">Profile Back File</span></dt>
        <dd>
            <div *ngIf="designer.profileBackFileUrl">
                <a (click)="openFile(designer.profileBackFileContentType, designer.profileBackFileUrl)">
                    <img [src]="designer.profileBackFileUrl" style="max-width: 100%;" alt="designer image"/>
                </a>
                {{designer.profileBackFileContentType}} {{byteSize(designer.profileBackFile)}}
            </div>
        </dd>
        <dt><span jhiTranslate="senseBrandApp.designer.profileThumbnailFile">Profile Thumbnail File</span></dt>
        <dd>
            <div *ngIf="designer.profileThumbnailFileUrl">
                <a (click)="openFile(designer.profileThumbnailFileContentType, designer.profileThumbnailFileUrl)">
                    <img [src]="designer.profileThumbnailFileUrl" style="max-width: 100%;" alt="designer image"/>
                </a>
                {{designer.profileThumbnailFileContentType}} {{byteSize(designer.profileThumbnailFile)}}
            </div>
        </dd>
        <dt><span jhiTranslate="senseBrandApp.designer.position">Position</span></dt>
        <dd>
            <span>{{designer.position}}</span>
        </dd>
        <dt><span jhiTranslate="senseBrandApp.designer.introduction">Introduction</span></dt>
        <dd>
            <span>{{designer.introduction}}</span>
        </dd>
        <dt><span jhiTranslate="senseBrandApp.designer.isShow">Is Show</span></dt>
        <dd>
            <span>{{designer.isShow}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'designer/'+ designer.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
