<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myDesignerLabel" jhiTranslate="senseBrandApp.designer.home.createOrEditLabel">Create or edit a Designer</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!designer.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="designer.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="senseBrandApp.designer.znName" for="field_znName">Zn Name</label>
            <input type="text" class="form-control" name="znName" id="field_znName"
                [(ngModel)]="designer.znName" required/>
            <div [hidden]="!(editForm.controls.znName?.dirty && editForm.controls.znName?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.znName?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="senseBrandApp.designer.enName" for="field_enName">En Name</label>
            <input type="text" class="form-control" name="enName" id="field_enName"
                [(ngModel)]="designer.enName" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="senseBrandApp.designer.profileBackFile" for="field_profileBackFile">Profile Back File</label>
            <div>
                <img [src]=" designer.profileBackFileBase64Data ? 'data:' + designer.profileBackFileContentType + ';base64,' + designer.profileBackFileBase64Data : designer.profileBackFileUrl" style="max-height: 100px;" *ngIf="designer.profileBackFileBase64Data || designer.profileBackFileUrl" alt="designer image"/>
                <div *ngIf="designer.profileBackFileBase64Data || designer.profileBackFileUrl" class="form-text text-danger clearfix">
                    <span class="pull-left">{{designer.profileBackFileContentType}} {{byteSize(designer.profileBackFileBase64Data || designer.profileBackFileUrl)}}</span>
                    <button type="button" (click)="clearInputImage( profileBackFileBase64Data ? 'profileBackFileBase64Data' : 'profileBackFileUrl', 'profileBackFileContentType', 'fileImage')" class="btn btn-secondary btn-xs pull-right">
                        <span class="fa fa-times"></span>
                    </button>
                </div>
                <input type="file" id="file_profileBackFileBase64Data" (change)="setFileData($event, designer, 'profileBackFile', true)" accept="image/*" jhiTranslate="entity.action.addimage"/>
            </div>
            <input type="hidden" class="form-control" name="profileBackFile" id="field_profileBackFile"
                [(ngModel)]="designer.profileBackFile" />
            <input type="hidden" class="form-control" name="profileBackFileContentType" id="field_profileBackFileContentType"
                [(ngModel)]="designer.profileBackFileContentType" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="senseBrandApp.designer.profileThumbnailFile" for="field_profileThumbnailFile">Profile Thumbnail File</label>
            <div>
                <img [src]=" designer.profileThumbnailFileBase64Data ? 'data:' + designer.profileThumbnailFileContentType + ';base64,' + designer.profileThumbnailFileBase64Data : designer.profileThumbnailFileUrl" style="max-height: 100px;" *ngIf="designer.profileThumbnailFileBase64Data || designer.profileThumbnailFileUrl" alt="designer image"/>
                <div *ngIf="designer.profileThumbnailFileBase64Data || designer.profileThumbnailFileUrl" class="form-text text-danger clearfix">
                    <span class="pull-left">{{designer.profileThumbnailFileContentType}} {{byteSize(designer.profileThumbnailFileBase64Data || designer.profileThumbnailFileUrl)}}</span>
                    <button type="button" (click)="clearInputImage( profileThumbnailFileBase64Data ? 'profileThumbnailFileBase64Data' : 'profileThumbnailFileUrl', 'profileThumbnailFileContentType', 'fileImage')" class="btn btn-secondary btn-xs pull-right">
                        <span class="fa fa-times"></span>
                    </button>
                </div>
                <input type="file" id="file_profileThumbnailFileBase64Data" (change)="setFileData($event, designer, 'profileThumbnailFile', true)" accept="image/*" jhiTranslate="entity.action.addimage"/>
            </div>
            <input type="hidden" class="form-control" name="profileThumbnailFile" id="field_profileThumbnailFile"
                [(ngModel)]="designer.profileThumbnailFile" />
            <input type="hidden" class="form-control" name="profileThumbnailFileContentType" id="field_profileThumbnailFileContentType"
                [(ngModel)]="designer.profileThumbnailFileContentType" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="senseBrandApp.designer.position" for="field_position">Position</label>
            <input type="text" class="form-control" name="position" id="field_position"
                [(ngModel)]="designer.position" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="senseBrandApp.designer.introduction" for="field_introduction">Introduction</label>
            <textarea class="form-control" name="introduction" id="field_introduction"
                [(ngModel)]="designer.introduction" ></textarea>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="senseBrandApp.designer.isShow" for="field_isShow">Is Show</label>
            <input type="checkbox" class="form-control" name="isShow" id="field_isShow"
                [(ngModel)]="designer.isShow" />
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
