<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="mySolutionDetailImgLabel" jhiTranslate="senseBrandApp.solutionDetailImg.home.createOrEditLabel">Create or edit a Solution Detail Img</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!solutionDetailImg.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="solutionDetailImg.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="senseBrandApp.solutionDetailImg.title" for="field_title">Title</label>
            <input type="text" class="form-control" name="title" id="field_title"
                [(ngModel)]="solutionDetailImg.title" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="senseBrandApp.solutionDetailImg.imgFile" for="field_imgFile">Img File</label>
            <div>
                <img [src]=" solutionDetailImg.imgFileBase64Data ? 'data:' + solutionDetailImg.imgFileContentType + ';base64,' + solutionDetailImg.imgFileBase64Data : solutionDetailImg.imgFileUrl" style="max-height: 100px;" *ngIf="solutionDetailImg.imgFileBase64Data || solutionDetailImg.imgFileUrl" alt="solutionDetailImg image"/>
                <div *ngIf="solutionDetailImg.imgFileBase64Data || solutionDetailImg.imgFileUrl" class="form-text text-danger clearfix">
                    <span class="pull-left">{{solutionDetailImg.imgFileContentType}} {{byteSize(solutionDetailImg.imgFileBase64Data || solutionDetailImg.imgFileUrl)}}</span>
                    <button type="button" (click)="clearInputImage( imgFileBase64Data ? 'imgFileBase64Data' : 'imgFileUrl', 'imgFileContentType', 'fileImage')" class="btn btn-secondary btn-xs pull-right">
                        <span class="fa fa-times"></span>
                    </button>
                </div>
                <input type="file" id="file_imgFileBase64Data" (change)="setFileData($event, solutionDetailImg, 'imgFile', true)" accept="image/*" jhiTranslate="entity.action.addimage"/>
            </div>
            <input type="hidden" class="form-control" name="imgFile" id="field_imgFile"
                [(ngModel)]="solutionDetailImg.imgFile" required/>
            <input type="hidden" class="form-control" name="imgFileContentType" id="field_imgFileContentType"
                [(ngModel)]="solutionDetailImg.imgFileContentType" />
            <div [hidden]="!(editForm.controls.imgFile?.dirty && editForm.controls.imgFile?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.imgFile?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="senseBrandApp.solutionDetailImg.introduction" for="field_introduction">Introduction</label>
            <textarea class="form-control" name="introduction" id="field_introduction"
                [(ngModel)]="solutionDetailImg.introduction" ></textarea>
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="senseBrandApp.solutionDetailImg.solution" for="field_solution">Solution</label>
            <select class="form-control" id="field_solution" name="solution" [(ngModel)]="solutionDetailImg.solution" >
                <option [ngValue]="null"></option>
                <option [ngValue]="solutionOption.id === solutionDetailImg.solution?.id ? solutionDetailImg.solution : solutionOption" *ngFor="let solutionOption of solutions; trackBy: trackSolutionById">{{solutionOption.title}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
