
<div *ngIf="designerIdeaDetails">
    <h2><span jhiTranslate="senseBrandApp.designerIdeaDetails.detail.title">Designer Idea Details</span> {{designerIdeaDetails.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="senseBrandApp.designerIdeaDetails.title">Title</span></dt>
        <dd>
            <span>{{designerIdeaDetails.title}}</span>
        </dd>
        <dt><span jhiTranslate="senseBrandApp.designerIdeaDetails.shareTime">Share Time</span></dt>
        <dd>
            <span>{{designerIdeaDetails.shareTime | date:'mediumDate'}}</span>
        </dd>
        <dt><span jhiTranslate="senseBrandApp.designerIdeaDetails.secondLevelTitle">Second Level Title</span></dt>
        <dd>
            <span>{{designerIdeaDetails.secondLevelTitle}}</span>
        </dd>
        <dt><span jhiTranslate="senseBrandApp.designerIdeaDetails.introduction">Introduction</span></dt>
        <dd>
            <span>{{designerIdeaDetails.introduction}}</span>
        </dd>
        <dt><span jhiTranslate="senseBrandApp.designerIdeaDetails.designer">Designer</span></dt>
        <dd>
            <div *ngIf="designerIdeaDetails.designer">
                <a [routerLink]="['/designer', designerIdeaDetails.designer?.id]">{{designerIdeaDetails.designer?.znName}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'designer-idea-details/'+ designerIdeaDetails.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
