<jhi-page-ribbon></jhi-page-ribbon>
<router-outlet name="navbar"></router-outlet>
<div class="app-body">
    <app-sidebar [fixed]="true" [display]="'lg'">
        <div [perfectScrollbar] class="sidebar-nav ps coreui-sidebar-nav" ng-reflect-disabled="false">
            <ul class="nav">
                <li class="nav-item" ng-reflect-ng-class="nav-item">
                    <a routerlinkactive="active" class="nav-link">
                        <i class="nav-icon icon-speedometer"></i>
                        <span jhiTranslate="global.menu.entities.main">
                            Entities
                        </span>
                        <span class="badge badge-info" ng-reflect-ng-class="badge badge-info">NEW</span>
                    </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" routerLink="designer" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                     <i class="nav-icon icon-puzzle" aria-hidden="true"></i>
                     <span jhiTranslate="global.menu.entities.designer">Designer</span>
                  </a>
             </li>
                <li class="nav-item">
                  <a class="nav-link" routerLink="designer-show" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                     <i class="nav-icon icon-puzzle" aria-hidden="true"></i>
                     <span jhiTranslate="global.menu.entities.designerShow">Designer Show</span>
                  </a>
             </li>
                <li class="nav-item">
                  <a class="nav-link" routerLink="designer-show-img" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                     <i class="nav-icon icon-puzzle" aria-hidden="true"></i>
                     <span jhiTranslate="global.menu.entities.designerShowImg">Designer Show Img</span>
                  </a>
             </li>
                <li class="nav-item">
                  <a class="nav-link" routerLink="designer-sentiment" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                     <i class="nav-icon icon-puzzle" aria-hidden="true"></i>
                     <span jhiTranslate="global.menu.entities.designerSentiment">Designer Sentiment</span>
                  </a>
             </li>
                <li class="nav-item">
                  <a class="nav-link" routerLink="designer-award" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                     <i class="nav-icon icon-puzzle" aria-hidden="true"></i>
                     <span jhiTranslate="global.menu.entities.designerAward">Designer Award</span>
                  </a>
             </li>
                <li class="nav-item">
                  <a class="nav-link" routerLink="designer-idea-details" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                     <i class="nav-icon icon-puzzle" aria-hidden="true"></i>
                     <span jhiTranslate="global.menu.entities.designerIdeaDetails">Designer Idea Details</span>
                  </a>
             </li>
                <li class="nav-item">
                  <a class="nav-link" routerLink="designer-idea-media" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                     <i class="nav-icon icon-puzzle" aria-hidden="true"></i>
                     <span jhiTranslate="global.menu.entities.designerIdeaMedia">Designer Idea Media</span>
                  </a>
             </li>
                <li class="nav-item">
                  <a class="nav-link" routerLink="our-sight" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                     <i class="nav-icon icon-puzzle" aria-hidden="true"></i>
                     <span jhiTranslate="global.menu.entities.ourSight">Our Sight</span>
                  </a>
             </li>
                <li class="nav-item">
                  <a class="nav-link" routerLink="grand-award" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                     <i class="nav-icon icon-puzzle" aria-hidden="true"></i>
                     <span jhiTranslate="global.menu.entities.grandAward">Grand Award</span>
                  </a>
             </li>
                <li class="nav-item">
                  <a class="nav-link" routerLink="solution" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                     <i class="nav-icon icon-puzzle" aria-hidden="true"></i>
                     <span jhiTranslate="global.menu.entities.solution">Solution</span>
                  </a>
             </li>
                <li class="nav-item">
                  <a class="nav-link" routerLink="solution-detail-analysis" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                     <i class="nav-icon icon-puzzle" aria-hidden="true"></i>
                     <span jhiTranslate="global.menu.entities.solutionDetailAnalysis">Solution Detail Analysis</span>
                  </a>
             </li>
                <li class="nav-item">
                  <a class="nav-link" routerLink="solution-detail-analysis-img" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                     <i class="nav-icon icon-puzzle" aria-hidden="true"></i>
                     <span jhiTranslate="global.menu.entities.solutionDetailAnalysisImg">Solution Detail Analysis Img</span>
                  </a>
             </li>
                <li class="nav-item">
                  <a class="nav-link" routerLink="solution-detail-img" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                     <i class="nav-icon icon-puzzle" aria-hidden="true"></i>
                     <span jhiTranslate="global.menu.entities.solutionDetailImg">Solution Detail Img</span>
                  </a>
             </li>
                <li class="nav-item">
                  <a class="nav-link" routerLink="solution-correlation" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                     <i class="nav-icon icon-puzzle" aria-hidden="true"></i>
                     <span jhiTranslate="global.menu.entities.solutionCorrelation">Solution Correlation</span>
                  </a>
             </li>
                <li class="nav-item">
                  <a class="nav-link" routerLink="industry-all" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                     <i class="nav-icon icon-puzzle" aria-hidden="true"></i>
                     <span jhiTranslate="global.menu.entities.industryAll">Industry All</span>
                  </a>
             </li>
                <li class="nav-item">
                  <a class="nav-link" routerLink="industry-first-class" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                     <i class="nav-icon icon-puzzle" aria-hidden="true"></i>
                     <span jhiTranslate="global.menu.entities.industryFirstClass">Industry First Class</span>
                  </a>
             </li>
                <li class="nav-item">
                  <a class="nav-link" routerLink="industry-second-class" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                     <i class="nav-icon icon-puzzle" aria-hidden="true"></i>
                     <span jhiTranslate="global.menu.entities.industrySecondClass">Industry Second Class</span>
                  </a>
             </li>
                <li class="nav-item">
                  <a class="nav-link" routerLink="brand" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                     <i class="nav-icon icon-puzzle" aria-hidden="true"></i>
                     <span jhiTranslate="global.menu.entities.brand">Brand</span>
                  </a>
             </li>
                <li class="nav-item">
                  <a class="nav-link" routerLink="brand-sub" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                     <i class="nav-icon icon-puzzle" aria-hidden="true"></i>
                     <span jhiTranslate="global.menu.entities.brandSub">Brand Sub</span>
                  </a>
             </li>
                <li class="nav-item">
                  <a class="nav-link" routerLink="brand-sub-details" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                     <i class="nav-icon icon-puzzle" aria-hidden="true"></i>
                     <span jhiTranslate="global.menu.entities.brandSubDetails">Brand Sub Details</span>
                  </a>
             </li>
                <li class="nav-item">
                  <a class="nav-link" routerLink="brand-rank" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                     <i class="nav-icon icon-puzzle" aria-hidden="true"></i>
                     <span jhiTranslate="global.menu.entities.brandRank">Brand Rank</span>
                  </a>
             </li>
                <li class="nav-item">
                  <a class="nav-link" routerLink="brand-region" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                     <i class="nav-icon icon-puzzle" aria-hidden="true"></i>
                     <span jhiTranslate="global.menu.entities.brandRegion">Brand Region</span>
                  </a>
             </li>
                <li class="nav-item">
                  <a class="nav-link" routerLink="industry" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                     <i class="nav-icon icon-puzzle" aria-hidden="true"></i>
                     <span jhiTranslate="global.menu.entities.industry">Industry</span>
                  </a>
             </li>
                <li class="nav-item">
                  <a class="nav-link" routerLink="industry-top" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                     <i class="nav-icon icon-puzzle" aria-hidden="true"></i>
                     <span jhiTranslate="global.menu.entities.industryTop">Industry Top</span>
                  </a>
             </li>
                <li class="nav-item">
                  <a class="nav-link" routerLink="industry-type" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                     <i class="nav-icon icon-puzzle" aria-hidden="true"></i>
                     <span jhiTranslate="global.menu.entities.industryType">Industry Type</span>
                  </a>
             </li>
                <li class="nav-item">
                  <a class="nav-link" routerLink="industry-type-name" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                     <i class="nav-icon icon-puzzle" aria-hidden="true"></i>
                     <span jhiTranslate="global.menu.entities.industryTypeName">Industry Type Name</span>
                  </a>
             </li>
                <li class="nav-item">
                  <a class="nav-link" routerLink="question" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                     <i class="nav-icon icon-puzzle" aria-hidden="true"></i>
                     <span jhiTranslate="global.menu.entities.question">Question</span>
                  </a>
             </li>
                <!-- jhipster-needle-add-entity-to-menu - JHipster will add entities to the menu here -->
            </ul>
        </div>
        <app-sidebar-minimizer></app-sidebar-minimizer>
    </app-sidebar>
    <div class="card jh-card main">
        <router-outlet></router-outlet>
        <router-outlet name="popup"></router-outlet>
        <!--<jhi-footer></jhi-footer>-->
    </div>
</div>
<ngx-spinner
    bdOpacity = 0.9
    bdColor = "#333"
    size = "medium"
    color = "#fff"
    type = 'ball-clip-rotate-multiple'
></ngx-spinner>

