<jhi-page-ribbon></jhi-page-ribbon>
<router-outlet name="navbar"></router-outlet>
<div class="app-body">
    <app-sidebar [fixed]="true" [display]="'lg'">
        <div [perfectScrollbar] class="sidebar-nav ps coreui-sidebar-nav" ng-reflect-disabled="false">
            <ul class="nav">
                <li class="nav-item" ng-reflect-ng-class="nav-item">
                    <a routerlinkactive="active" class="nav-link">
                        <i class="nav-icon icon-speedometer"></i>
                        <span jhiTranslate="global.menu.entities.main">
                            Entities
                        </span>
                        <span class="badge badge-info" ng-reflect-ng-class="badge badge-info">NEW</span>
                    </a>
                </li>
                <!-- jhipster-needle-add-entity-to-menu - JHipster will add entities to the menu here -->
            </ul>
        </div>
        <app-sidebar-minimizer></app-sidebar-minimizer>
    </app-sidebar>
    <div class="card jh-card main">
        <router-outlet></router-outlet>
        <router-outlet name="popup"></router-outlet>
        <!--<jhi-footer></jhi-footer>-->
    </div>
</div>
<ngx-spinner
    bdOpacity = 0.9
    bdColor = "#333"
    size = "medium"
    color = "#fff"
    type = 'ball-clip-rotate-multiple'
></ngx-spinner>

