<div>
    <h2>
        <span jhiTranslate="senseBrandApp.designerAward.home.title">Designer Awards</span>
        <button class="btn btn-primary float-right jh-create-entity create-designer-award" [routerLink]="['/', { outlets: { popup: ['designer-award-new'] } }]">
            <span class="fa fa-plus"></span>
            <span class="hidden-sm-down"  jhiTranslate="senseBrandApp.designerAward.home.createLabel">
            Create new Designer Award
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'senseBrandApp.designerAward.home.search' | translate }}">
                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <span class="fa fa-search"></span>
                    </button>
                    <button class="input-group-append btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <span class="fa fa-trash-o"></span>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="designerAwards">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="title"><span jhiTranslate="senseBrandApp.designerAward.title">Title</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="introduction"><span jhiTranslate="senseBrandApp.designerAward.introduction">Introduction</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="imgFile"><span jhiTranslate="senseBrandApp.designerAward.imgFile">Img File</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="detailLink"><span jhiTranslate="senseBrandApp.designerAward.detailLink">Detail Link</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="designer.znName"><span jhiTranslate="senseBrandApp.designerAward.designer">Designer</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let designerAward of designerAwards ;trackBy: trackId">
                <td><a [routerLink]="['../designer-award', designerAward.id ]">{{designerAward.id}}</a></td>
                <td>{{designerAward.title}}</td>
                <td>{{designerAward.introduction}}</td>
                <td>
                    <a *ngIf="designerAward.imgFileUrl" (click)="openFile(designerAward.imgFileContentType, designerAward.imgFileUrl)">
                        <img [src]="designerAward.imgFileUrl" style="max-height: 30px;" alt="designerAward image"/>
                    </a>
                    <span *ngIf="designerAward.imgFileUrl">{{designerAward.imgFileContentType}} {{byteSize(designerAward.imgFileUrl)}}</span>
                </td>
                <td>{{designerAward.detailLink}}</td>
                <td>
                    <div *ngIf="designerAward.designer">
                        <a [routerLink]="['../designer', designerAward.designer?.id ]" >{{designerAward.designer?.znName}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../designer-award', designerAward.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'designer-award/'+ designerAward.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'designer-award/'+ designerAward.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="designerAwards && designerAwards.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
