<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myDesignerIdeaMediaLabel" jhiTranslate="senseBrandApp.designerIdeaMedia.home.createOrEditLabel">Create or edit a Designer Idea Media</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!designerIdeaMedia.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="designerIdeaMedia.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="senseBrandApp.designerIdeaMedia.title" for="field_title">Title</label>
            <input type="text" class="form-control" name="title" id="field_title"
                [(ngModel)]="designerIdeaMedia.title" required/>
            <div [hidden]="!(editForm.controls.title?.dirty && editForm.controls.title?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.title?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="senseBrandApp.designerIdeaMedia.shareTime" for="field_shareTime">Share Time</label>
            <div class="input-group">
                <input id="field_shareTime" type="text" class="form-control" name="shareTime" ngbDatepicker  #shareTimeDp="ngbDatepicker" [(ngModel)]="designerIdeaMedia.shareTime"
                required/>
                <span class="input-group-append">
                    <button type="button" class="btn btn-secondary" (click)="shareTimeDp.toggle()"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
            <div [hidden]="!(editForm.controls.shareTime?.dirty && editForm.controls.shareTime?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.shareTime?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="senseBrandApp.designerIdeaMedia.introduction" for="field_introduction">Introduction</label>
            <textarea class="form-control" name="introduction" id="field_introduction"
                [(ngModel)]="designerIdeaMedia.introduction" ></textarea>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="senseBrandApp.designerIdeaMedia.mediaFile" for="field_mediaFile">Media File</label>
            <div>
                <div *ngIf="designerIdeaMedia.mediaFileBase64Data || designerIdeaMedia.mediaFileUrl" class="form-text text-danger clearfix">
                    <a class="pull-left" (click)="openFile(designerIdeaMedia.mediaFileContentType, designerIdeaMedia.mediaFileBase64Data || designerIdeaMedia.mediaFileUrl)" jhiTranslate="entity.action.open">open</a><br>
                    <span class="pull-left">{{designerIdeaMedia.mediaFileContentType}} {{byteSize(designerIdeaMedia.mediaFileBase64Data || designerIdeaMedia.mediaFileUrl )}}</span>
                    <button type="button" (click)="designerIdeaMedia.mediaFileBase64Data=null;designerIdeaMedia.mediaFileContentType=null;designerIdeaMedia.mediaFileUrl=null;"
                            class="btn btn-secondary btn-xs pull-right">
                        <span class="fa fa-times"></span>
                    </button>
                </div>
                <input type="file" id="file_mediaFileBase64Data" (change)="setFileData($event, designerIdeaMedia, 'mediaFile', false)" jhiTranslate="entity.action.addblob"/>
            </div>
            <input type="hidden" class="form-control" name="mediaFile" id="field_mediaFile"
                [(ngModel)]="designerIdeaMedia.mediaFile" required/>
            <input type="hidden" class="form-control" name="mediaFileContentType" id="field_mediaFileContentType"
                [(ngModel)]="designerIdeaMedia.mediaFileContentType" />
            <div [hidden]="!(editForm.controls.mediaFile?.dirty && editForm.controls.mediaFile?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.mediaFile?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="senseBrandApp.designerIdeaMedia.isShow" for="field_isShow">Is Show</label>
            <div>
                <label class="switch switch-label switch-pill switch-outline-danger-alt">
                    <input type="checkbox" class="switch-input" name="isShow" id="field_isShow" [(ngModel)]="designerIdeaMedia.isShow">
                    <span class="switch-slider" data-checked="on" data-unchecked="off"></span>
                </label>
            </div>
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="senseBrandApp.designerIdeaMedia.designer" for="field_designer">Designer</label>
            <select class="form-control" id="field_designer" name="designer" [(ngModel)]="designerIdeaMedia.designer" >
                <option [ngValue]="null"></option>
                <option [ngValue]="designerOption.id === designerIdeaMedia.designer?.id ? designerIdeaMedia.designer : designerOption" *ngFor="let designerOption of designers; trackBy: trackDesignerById">{{designerOption.znName}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
