<div>
    <h2>
        <span jhiTranslate="senseBrandApp.designerIdeaMedia.home.title">Designer Idea Medias</span>
        <button class="btn btn-primary float-right jh-create-entity create-designer-idea-media" [routerLink]="['/', { outlets: { popup: ['designer-idea-media-new'] } }]">
            <span class="fa fa-plus"></span>
            <span class="hidden-sm-down"  jhiTranslate="senseBrandApp.designerIdeaMedia.home.createLabel">
            Create new Designer Idea Media
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'senseBrandApp.designerIdeaMedia.home.search' | translate }}">
                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <span class="fa fa-search"></span>
                    </button>
                    <button class="input-group-append btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <span class="fa fa-trash-o"></span>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="designerIdeaMedias">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="title"><span jhiTranslate="senseBrandApp.designerIdeaMedia.title">Title</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="shareTime"><span jhiTranslate="senseBrandApp.designerIdeaMedia.shareTime">Share Time</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="introduction"><span jhiTranslate="senseBrandApp.designerIdeaMedia.introduction">Introduction</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="mediaFile"><span jhiTranslate="senseBrandApp.designerIdeaMedia.mediaFile">Media File</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="isShow"><span jhiTranslate="senseBrandApp.designerIdeaMedia.isShow">Is Show</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="designer.znName"><span jhiTranslate="senseBrandApp.designerIdeaMedia.designer">Designer</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let designerIdeaMedia of designerIdeaMedias ;trackBy: trackId">
                <td><a [routerLink]="['../designer-idea-media', designerIdeaMedia.id ]">{{designerIdeaMedia.id}}</a></td>
                <td>{{designerIdeaMedia.title}}</td>
                <td>{{designerIdeaMedia.shareTime | date:'mediumDate'}}</td>
                <td>{{designerIdeaMedia.introduction}}</td>
                <td>
                    <a *ngIf="designerIdeaMedia.mediaFileUrl" (click)="openFile(designerIdeaMedia.mediaFileContentType, designerIdeaMedia.mediaFileUrl)" jhiTranslate="entity.action.open">open</a>
                    <span *ngIf="designerIdeaMedia.mediaFileUrl">{{designerIdeaMedia.mediaFileContentType}} {{byteSize(designerIdeaMedia.mediaFileUrl)}}</span>
                </td>
                <td>{{designerIdeaMedia.isShow}}</td>
                <td>
                    <div *ngIf="designerIdeaMedia.designer">
                        <a [routerLink]="['../designer', designerIdeaMedia.designer?.id ]" >{{designerIdeaMedia.designer?.znName}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../designer-idea-media', designerIdeaMedia.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'designer-idea-media/'+ designerIdeaMedia.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'designer-idea-media/'+ designerIdeaMedia.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="designerIdeaMedias && designerIdeaMedias.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
