
<div *ngIf="brandSub">
    <h2><span jhiTranslate="senseBrandApp.brandSub.detail.title">Brand Sub</span> {{brandSub.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="senseBrandApp.brandSub.title">Title</span></dt>
        <dd>
            <span>{{brandSub.title}}</span>
        </dd>
        <dt><span jhiTranslate="senseBrandApp.brandSub.introduction">Introduction</span></dt>
        <dd>
            <span>{{brandSub.introduction}}</span>
        </dd>
        <dt><span jhiTranslate="senseBrandApp.brandSub.brand">Brand</span></dt>
        <dd>
            <div *ngIf="brandSub.brand">
                <a [routerLink]="['/brand', brandSub.brand?.id]">{{brandSub.brand?.title}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'brand-sub/'+ brandSub.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
