
<div *ngIf="car">
    <h2><span jhiTranslate="senseBrandApp.car.detail.title">Car</span> {{car.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="senseBrandApp.car.name">Name</span></dt>
        <dd>
            <span>{{car.name}}</span>
        </dd>
        <dt><span jhiTranslate="senseBrandApp.car.owner">Owner</span></dt>
        <dd>
            <div *ngIf="car.owner">
                <a [routerLink]="['/owner', car.owner?.id]">{{car.owner?.name}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="senseBrandApp.car.driver">Driver</span></dt>
        <dd>
            <span *ngFor="let driver of car.drivers; let last = last">
                <a [routerLink]="['/driver', driver?.id ]">{{driver.name}}</a>{{last ? '' : ', '}}
            </span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'car/'+ car.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
