<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myDesignerSentimentLabel" jhiTranslate="senseBrandApp.designerSentiment.home.createOrEditLabel">Create or edit a Designer Sentiment</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!designerSentiment.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="designerSentiment.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="senseBrandApp.designerSentiment.firstLevelTitle" for="field_firstLevelTitle">First Level Title</label>
            <input type="text" class="form-control" name="firstLevelTitle" id="field_firstLevelTitle"
                [(ngModel)]="designerSentiment.firstLevelTitle" required/>
            <div [hidden]="!(editForm.controls.firstLevelTitle?.dirty && editForm.controls.firstLevelTitle?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.firstLevelTitle?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="senseBrandApp.designerSentiment.secondLevelTitle" for="field_secondLevelTitle">Second Level Title</label>
            <input type="text" class="form-control" name="secondLevelTitle" id="field_secondLevelTitle"
                [(ngModel)]="designerSentiment.secondLevelTitle" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="senseBrandApp.designerSentiment.imgFile" for="field_imgFile">Img File</label>
            <div>
                <img [src]=" designerSentiment.imgFileBase64Data ? 'data:' + designerSentiment.imgFileContentType + ';base64,' + designerSentiment.imgFileBase64Data : designerSentiment.imgFileUrl" style="max-height: 100px;" *ngIf="designerSentiment.imgFileBase64Data || designerSentiment.imgFileUrl" alt="designerSentiment image"/>
                <div *ngIf="designerSentiment.imgFileBase64Data || designerSentiment.imgFileUrl" class="form-text text-danger clearfix">
                    <span class="pull-left">{{designerSentiment.imgFileContentType}} {{byteSize(designerSentiment.imgFileBase64Data || designerSentiment.imgFileUrl)}}</span>
                    <button type="button" (click)="clearInputImage( imgFileBase64Data ? 'imgFileBase64Data' : 'imgFileUrl', 'imgFileContentType', 'fileImage')" class="btn btn-secondary btn-xs pull-right">
                        <span class="fa fa-times"></span>
                    </button>
                </div>
                <input type="file" id="file_imgFileBase64Data" (change)="setFileData($event, designerSentiment, 'imgFile', true)" accept="image/*" jhiTranslate="entity.action.addimage"/>
            </div>
            <input type="hidden" class="form-control" name="imgFile" id="field_imgFile"
                [(ngModel)]="designerSentiment.imgFile" required/>
            <input type="hidden" class="form-control" name="imgFileContentType" id="field_imgFileContentType"
                [(ngModel)]="designerSentiment.imgFileContentType" />
            <div [hidden]="!(editForm.controls.imgFile?.dirty && editForm.controls.imgFile?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.imgFile?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="senseBrandApp.designerSentiment.designer" for="field_designer">Designer</label>
            <select class="form-control" id="field_designer" name="designer" [(ngModel)]="designerSentiment.designer" >
                <option [ngValue]="null"></option>
                <option [ngValue]="designerOption.id === designerSentiment.designer?.id ? designerSentiment.designer : designerOption" *ngFor="let designerOption of designers; trackBy: trackDesignerById">{{designerOption.znName}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
